
body{
   background: linear-gradient(135deg, #0B1D37, #03101e 30%, #0B1D37 70%);
   /* background-color: white; */
  color: #ffffff;
}

/* h2{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 50px;
} */
 h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700; /* peso ideal para títulos */
  font-style: normal;
  font-size: 2.8rem; /* responsivo */
  color: #C6F600; /* cor da logo (verde-limão) */
  letter-spacing: 1px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

/* Linha decorativa abaixo do título */



h1{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
a{
  font-size: 50px;
}

#informativo:hover{
   background-color:rgb(11, 29, 55) ;
   color: white;
}
/* Estilo padrão (desktop) */
.navbar-brand img {
  height: 42px;
  width: auto;
}

.navbar {
  position: relative; /* ou 'static' */
  width: 100%;
  z-index: 10;
  background-color: rgb(11, 29, 55);

}
.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' ... %3C/svg%3E");
  filter: invert(1);
}

/* Estilo base */
/* Estilo refinado para o fundo escuro */
.nav-link-custom {
  color: #f0f0f0 !important; /* branco suave */
  font-weight: 600;
  position: relative;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.3s ease-in-out;
}

/* Linha animada azul-claro */
.nav-link-custom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 2px;
  background-color: #C6F600 ;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

/* Hover */
.nav-link-custom:hover {
  color:#C6F600 !important;
}

.nav-link-custom:hover::after {
  transform: scaleX(1);
}

/* Separadores modernos com transparência */
.nav-links-custom .nav-item:not(:last-child)::after {
  color: #C6F600;
  margin: 0 8px;
  font-weight: 300;
}

.logo-container {
  height: 70px;       
  width: 100px;        
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logoImg {
  height: 100%;       
  width: auto;        
  object-fit: contain;
  display: block;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}

.hero-section {
 background-image: url("img/pexels-timmossholder-974314.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 400px; 
  display: flex;
  align-items: center;     
  justify-content: center; 
  text-align: center; 
}


.hero-section .content {
z-index: 1;
position: relative;

}
.text-justify {
  text-align: justify;
}

.section {
  padding:80px 20px;
}
#containerMain{
    background-color:rgb(11, 29, 55);
    min-height: 80px; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#containerMain .navbar-brand img {
  height: 100px; 
  width: auto;  
}

#photo{
    width: 50px;
    height: auto;
    border-radius: 50px;
}

/* SOBRE */
#sobre {
 background-color:rgb(11, 29, 55) ;
width: 88%;
margin: 0 auto;                  /* Centraliza horizontalmente */
padding: 50px 10px;              /* Espaçamento interno */
min-height: 90vh;               /* Ocupa altura total da tela */
display: flex;
align-items: center;            /* Centraliza verticalmente */
justify-content: center;        /* Centraliza horizontalmente o conteúdo interno */
text-align: center;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Sombra sutil para destaque */
border-radius: 12px;
padding-top: 0;
margin-top: 0;
color: white;
border: 1px solid #E6F1FF ;
}

#sobretext{
  background-color: #0B1D37;
  color: white;
}

#visionText{
  background-color: #0B1D37;
  color: white;
}

.textSobreNois{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerVision{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 1 services */
#servicos {
background-color:rgb(11, 29, 55);
width: 88%;
margin: 0 auto;
padding: 60px 20px;
display: flex;
align-items: center;            /* Centraliza verticalmente */
justify-content: center;        /* Centraliza horizontalmente o conteúdo interno */
text-align: center;
border-radius: 12px;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
color: white;
border: 1px solid #E6F1FF
}

#containerAlinha{
  background-color: #0B1D37;
  color: white;
}

#logoAlinha{
    width: 40%;
}
.sobreAlinha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; /* Acima do conteúdo */
  padding: 1rem;
}

#alinha,
#segundaImgAlinha {
  width: 80%;
  height: auto;
  max-height:420px; /* reduzido para caber as duas imagens */
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.sobreContent {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 900px; /* Mas mantém limite para telas grandes */
  max-height: 100vh; /* evita estourar a tela */
  position: relative;
  height: auto;
  overflow: auto;
}
.closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* EOPERA */

#containerEopera{
   background-color: #0B1D37;
  color: white;
}

.sobreEopera{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Acima do conteúdo */
    padding: 1rem;
}

#logoEopera{
 width: 80%;
}
#Eopera1 ,
#Eopera{
    width: 85%;
  height: auto;
  max-height: 400px; /* reduzido para caber as duas imagens */
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.closeBtnEopera{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* totvs */

#containerTotvs{
  background-color: #0B1D37;
  color: white;
}

.sobreTotvs{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* Acima do conteúdo */
    padding: 1rem;
}

#totvs2{
    width: 253px;
}
#totvs1 {
    width: 85%;
    height: auto;
    max-height: 350px; /* reduzido para caber as duas imagens */
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}


.closeBtnTotvs{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#contato{
  border: 1px solid white;
}


footer {
  background-color:rgb(11, 29, 55) ;
  text-align: center;
  color: #C6F600;
  padding: 15px;
}